<!-- 9 Criando o formulario-->

<form action="/adicionar" method="POST"> <!-- 10 definir o metdo para enviar dados ao formulario
                                                    Dentro do method definimos o tipo de envio dos dados GET envia dados pela URL
                                                    mas não é seguro POST Não passa os dados pela URL-->
                                                 <!--12 Dentro do Action dizemos para qual rota quero enviar os dados-->  
                                                 <!-- O formulario envia dados usando o method POST--> 
                                                 <!-- Não é possível acessar rotas do tipo POST pela url, somente tipo GET-->
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit"> Cadastrar Postagem</button>

</form>   